{{ define "content" }}
    <h2>Schedule a job</h2>
    <form action="/schedule" method="POST">
        <div class="form-group">
            <label for="func">Function:</label>
            <select id="func" name="func">
                <option value="hello_world">Hello World</option>
                <option value="panic">Panic</option>
                <option value="infinite_loop">Infinite Loop</option>
              </select>  
        </div>
        <div class="form-group">
            <label for="timeout">Timeout (in seconds):</label>
            <input type="number" id="timeout" name="timeout" class="form-control" min="1" max="3600" required>
        </div>
        <div class="form-group">
            <label for="time">Scheduled Time:</label>
            <input type="datetime-local" id="time" name="time" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Schedule Job</button>
    </form>

{{ end }}